<h2 class="text-center mb-4">Forgot Password</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <!-- Email Field -->
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Email address</mat-label>
    <input
      formControlName = "email"
      matInput type="email" required placeholder="Enter your email" class="px-2">
  </mat-form-field>

  <!-- Success Message -->
  <mat-hint *ngIf="successMessage" class="text-success text-center mt-2">
    {{ successMessage }}
  </mat-hint>

  <!-- Submit Button -->
  <div class="d-grid">
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="w-100"
      [disabled]="form.invalid"
    >
      Send
    </button>
  </div>
</form>
<!-- Additional Links -->
<div class="text-center mt-3 d-flex justify-content-end">
  <a mat-button color="accent" routerLink="/auth/login">Back to Login</a>
</div>
