<h1 class="text-center mb-2" >Stock de {{ center()?.name }}</h1>

<!-- Search Box -->
<mat-form-field appearance="outline" class="w-100 mb-3">
  <mat-label>Buscar stock</mat-label>
  <input matInput [formControl]="searchControl" placeholder="Escriba para filtrar">
  <button matSuffix mat-icon-button (click)="openQrScanner()">
    <mat-icon>qr_code_scanner</mat-icon>
  </button>
</mat-form-field>

<shared-expansion-panel *ngFor="let category of (categories() | sortStrings)"
                        [expanded]="expandedCategories().includes(category) || searching()"
                        [title]="category | uppercase"
                        (toggleChange)="toggleCategory(category, $event)"
>

  <table mat-table [dataSource]="filteredStocksByCategory()[category]"
         cdkDropList [id]="category" [cdkDropListData]="stocksByCategory()[category]"
         [cdkDropListConnectedTo]="categories()"
         (cdkDropListDropped)="drop($event)"
         class="table table-hover"
  >

    <ng-container [matColumnDef] = "Column.NAME" >
      <th mat-header-cell *matHeaderCellDef class="text-start fw-bold pb-4">Producto</th>
      <td mat-cell *matCellDef="let stock">{{ stock.product[Column.NAME] | cleanTail }}</td>
    </ng-container>

    <ng-container [matColumnDef] = "Column.MAX">
      <th mat-header-cell *matHeaderCellDef class="text-end fw-bold pb-4">Máximo</th>
      <td mat-cell *matCellDef="let stock" class="text-end" (click)="edit(stock, Column.MAX, $event)" >
        <span *ngIf="!stock.editing || stock.editing !== Column.MAX" >{{ stock[Column.MAX] }}</span>
        <input *ngIf="!!stock.editing && stock.editing === Column.MAX"
               type="number" required
               class="form-control text-end no-spinner"
               style="width: 6ch; float: right;"
               [(ngModel)]="stock.maximum_storage"
               (blur)="save(stock)"
        >
      </td>
    </ng-container>

    <ng-container [matColumnDef] = "Column.CURR" >
      <th mat-header-cell *matHeaderCellDef class="text-end fw-bold pb-4">Actual</th>
      <td mat-cell *matCellDef="let stock" class="text-end"  (click)="edit(stock, Column.CURR, $event)" >
        <span *ngIf="!stock.editing || stock.editing !== Column.CURR ">{{ stock[Column.CURR]}}</span>
        <input *ngIf="!!stock.editing && stock.editing === Column.CURR"
               type="number" required
               class="form-control text-end no-spinner"
               style="width: 6ch; float: right;"
               [(ngModel)]="stock.current_storage"
               (blur)="save(stock)"
        >

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        cdkDrag [cdkDragStartDelay]="200" [cdkDragData]="row"
    >
    </tr>

  </table>

</shared-expansion-panel>
