<div class="container">
  <div class="row justify-content-center my-3">
    <div class="col-md-8">
      <mat-card class="shadow-lg border-0 rounded-3">
        <mat-card-header class="text-center py-3">
          <mat-card-title>
            <h2>Bienvenido a GeStock</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="p-4">
          <p>
            GeStock es un gestor de stocks. Puedes mantener al día el stock de tus productos y crear informes y pedidos.
          </p>
          <p>
            Para empezar utiliza en el menú a la izquierda para navegar por las distintas opciones.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
